@font-face {
    font-family: "HomeSweetHome";
    src: url(fonts/home-sweet-home.ttf) format("truetype");
}

@font-face {
    font-family: "Optima";
    src:url(fonts/Optima.ttc) format("truetype");
}

@font-face {
    font-family: "KingthingsXstitch";
    src:url(fonts/Kingthings_Xstitch.ttf) format("truetype");
}
html {
    /*I want a font that is more in keeping with the specialize font used for the titles and header so I have chosen Optima, a serif font with a bit more modern flair.*/
    font-family: Optima;
    font-size: 18px;
}

/*The following two div.background settings allow for an image to be set as the background for the page AND change that image's opacity without also affecting the opacity of all the other elements*/
div.background {
    height:100%;
    width:100%;
}
div.background::after{
    content:"";
    background-image: url("images/fabric.jpg");
    background-color:#fffff0;
    opacity: 0.18;
    top:0;
    left:0;
    bottom:0;
    right:0;
    position:fixed;
    z-index: -1;
}
#page-title {
    font-family: KingthingsXstitch, Optima;
    font-size:3em;
    text-align: center;
    border-style:dashed;
    border-color:#A0A0A0;

}

nav ul li {
	display: inline-block;
	margin-right: 1em;
}
main img {
    height:25%;
    width:25%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: KingthingsXstitch, Optima;
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}

article address {
    font-size: 0.75em;
}

code {
    color:#962828;
}
#learned-span {
    background-color: #e5f720;
}

footer {
    font-size: 0.75rem;
}

small {
    font-size: 0.75em;
}

footer ul li {
	display: inline-block;
	margin-right: 0.5em;
    margin-left: 0em;
}
