@font-face {
    font-family: "Optima";
    src:url(fonts/Optima.ttc) format("truetype");
}

@font-face {
    font-family: "KingthingsXstitch";
    src:url(fonts/Kingthings_Xstitch.ttf) format("truetype");
}
html {
    /*I want a font that is more in keeping with the specialized font used for the titles and header so I have chosen Optima, a lightly serifed font with a bit more contemporary flair.*/
    font-family: Optima;
    font-size: 18px;
    margin: 1rem;
}

/*The following two div.background settings allow for an image to be set as the background for the page AND change that image's opacity without also affecting the opacity of all the other elements*/
div.page-wrapper{
    height:100%;
    width:100%;
}
div.page-wrapper::after{
    content:"";
    background-image: url("images/fabric.jpg");
    background-color:#fffff0;
    opacity: 0.18;
    top:0;
    left:0;
    bottom:0;
    right:0;
    position:fixed;
    z-index: -1;
}
.page-title {
    font-family: KingthingsXstitch, Optima;
    font-size:3em;
    color:#b12b2b;
    text-align: center;
    border-style:dashed;
    border-color:#000000;
    border-width: thin;
    border-radius: 10px;
    margin-top:0;
}

.title-fig {
    padding: 0px;
    width:198px;
    float:left;
    margin-top: 0;
}
.bold {
    font-weight: bold;
}

a {
    text-decoration: none;
    color:#2A5DB0 /*Gmail link blue*/
}

a:visited {
    color:#4c2bb1;
}

nav ul {
    list-style-type: none;
    padding:0;
    margin-left: 300px;
    width:320px;
    text-align: center;
}

nav li a {
    display:block;
    font-family: KingthingsXstitch;
    font-weight: bold;
    color:#000080;
    height:1.75em;
    padding-top: 0.6em;
}
nav li a:hover {
    border-color:#000080;
    color:#000080;
    background-color: #fffff9
}
nav li a:visited {
    color:#000080;
}

main {
    clear:left;
}
main img {
    height:25%;
    width:25%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: KingthingsXstitch, Optima;
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}

article {
    border-style: solid;
}

article address {
    font-size: 0.75em;
}

code {
    color:#962828;
}

#t-master {
    color:red;
}

#learned-span {
    background-color: #e5f720;
}

#ul-resources {
    list-style-type: square;
}

footer {
    font-size: 0.75rem;
    margin-bottom: 20px;
}

small {
    font-size: 0.8em;
}

footer p {

}
footer ul li {
    list-style-type: none;
}
